#title {
  background-color: #ff4c68;
  font-family:"Montserrat";
}

.row {
  margin-left: 0px;
}

.col-lg-6 col-md-6 col-sm-12 {
  margin: 0px;
}

h1 {
  font-family: "Pacifico";
  width: 400px;
  padding-top: 18%;
  padding-bottom: 3%;
  color:white;
}

.conteiner-fluid {
  padding: 3% 16%;
}

.brand {
  font-family: "Ubuntu", "pacifico";
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  padding-left: .8125rem;
  margin-right: 1rem;
}
.logo{padding-bottom:1rem;}

.buttons-download{margin:5% 3% 5% 0%;}
.iphone{
width:60%;
transform: rotate(20grad);

}
.nav-link {
  font-size:1.4rem;

}
.nav-item{
  padding-left: 14px;
  padding-right: 14px;
}
.navbar{}
