#title {
  background-color: #ff4c68;
  font-family:"Montserrat";

}
.row {
  margin-left: 0px;
}

.col-lg-6 col-md-6 col-sm-12 {
  margin: 0px;
}

h1 {
  font-family: "Pacifico";
  width: 400px;
  padding-top: 18%;
  padding-bottom: 3%;
  color:white;
}

.conteiner-fluid {
  padding: 3% 11%;
}

.brand {
  font-family: "Ubuntu", "pacifico";
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  padding-left: .8125rem;
  margin-right: 1rem;
}
.logo{padding-bottom:1rem;}

.buttons-download{margin:5% 3% 5% 0%;}
.iphone{
width:60%;
transform: rotate(25grad);
position:absolute;
z-index:1;
left:100px;}
@media (max-width: 990px){

  .iphone{
    transform: rotate(0grad);
    width:auto;
  position:static;
  z-index:1;
  margin-left:20%;
  margin-top:3%;
}}
@media (max-width: 990px){

  .display-4{
      margin-left:20%;
position:absolute;

}}
@media (max-width: 990px){

  .buttons-download-1{
      margin-left:20%;


}}





.nav-link {
  font-size:1.4rem;

}
.nav-item{
  padding-left: 14px;
  padding-right: 14px;
}
.navbar{}

#features{
padding:10% 10%;
background-color: white;
position: relative;
z-index: 2;

}
.box{
  text-align: center;
  font-family:"montserrat"
  font-weight:bold;
}
.icon{
  color:#ef8172;
  margin-bottom:1rem;
}
.icon:hover{
  color:#ff4c68;
  transition: 0.5s;
}
#testimonials{

text-align: center;
background-color:#ef8172;
color: #fff;
}
.carousel-item{
  padding:7% 15%;
}
h2{
  font-family:"montserrat"
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img{
  width:10%;
  border-radius:100%;
  margin:20px;
}
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom:3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}
#testimonial-carouse{
  padding: 0px;
}
#pricing{
  text-align:center;
  padding:4% 10%;
}
.pricing-column{
  padding:3% 5%;
}
#cta{
  background-color:#ff4c68;
  text-align: center;
  padding:8%;

}
.cta1{
  font-weight: bold;
  color:white;
  font-size:3.5rem;
  margin:3%;
}
#footer{
  text-align: center;
  padding:3% 0 2%;
}
.footer-text{
  color:grey;
}
.ctabtn{
  margin:1%;
}
.fab-1{
  margin:0.5rem;
}
